go 1.18

use (
	./100mistakes
	./automi
	./creek
	./container
	./commonlib
	./workpool
	./mylib
	./helper
	./toolkit
	./notes
	./accumulate
	./goutil
	./genesis
	./generic-container
	./stream
	./gostream
	./kaka-streams
	./pkg
	id-generator
)